@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme{
    --font-inter: 'inter', 'sans-serif'
}

div[contenteditable="true"]::before {
    content: attr(placeholder);
    color: #aaa;
}

div[contenteditable="true"]:focus::before,
div[contenteditable="true"]:not(:empty)::before {
  content: "";
}
